body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
}

*:focus {
    outline: none !important;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $headlineFont;
}

h1 {
    font-size: 48px;
    color: darken( $lightBlue, 70% );
    margin-bottom: 30px;
}

h2 {
    font-size: 40px;
    color: darken( $lightBlue, 70% );
    margin-bottom: 30px;
}

.img-fluid {
    width: 100%;
    height: auto;
}